[*]
indent_style = space
charset = utf8

[*.{php,js}]
indent_size = 4

[*.{scss,yml}]
indent_size = 2

[{bower.json,.bowerrc,package.json}]
indent_size = 2

[{composer.json,gulpfile.js}]
indent_size = 4
