html/assets/
protected/runtime/
vendor/
composer.lock
protected/config/main.php
html/js/OverlappingMarkerSpiderfier-Leaflet/
html/js/Leaflet/
html/js/Leaflet.draw/
*.log
*.bak
html/css/.sass-cache/
.idea
html/piwik/
html/sitemap-*
html/google*
html/BingSiteAuth.xml
node_modules
