*.log
*.bak

# Dependency managers
composer.phar
vendor/
node_modules/
web/bower/

# Static files
web/assets/
web/css/build/
web/piwik/
web/sitemap-*
web/google*
web/BingSiteAuth.xml

.idea

runtime/
config/main.php
web/js/ba_grenzen_geojson.js

# Codeception
tests/_output/*
tests/_data/dump.sql
