@import "../../html/js/bootstrap/css/bootstrap";
@import "../../html/css/antragsliste";

body {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

footer {
  margin-top: 20px;
  border-top: solid 1px gray;
  padding-top: 20px;
}