*.gem
.sass-cache
bootstrap.css
bootstrap-responsive.css
Gemfile.lock
*.gemfile.lock
.rvmrc
.rbenv-version
.travis.yml

# Ignore bundler config
/.bundle
/vendor/cache
/vendor/bundle
tmp/
test/screenshots/
test/dummy_rails/log/*.log
test/dummy_rails/public/assets/
.DS_Store
node_modules

bootstrap-sass-3.3.4/test/
bootstrap-sass-3.3.4/templates/
bootstrap-sass-3.3.4/tasks/

build/