@import "bootstrap-sass-3.2.0/assets/stylesheets/bootstrap";
@import "material-wfont";

// The SASS-Version of Material seems to be broken (Variants of Checkboxes are not included, for example, therfore we include the compiled LESS-Version instead)
@import "material/variables.import";
@import "antragsliste";
@import "fontello";
@import "roboto-font";

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
h5,
h6 {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}


body {
  background-image: url(/images/pattern-7nl1.png);
}


#content {
  > section {
    margin-top: 50px;
  }
}

#page_main_content {
  margin-bottom: 25px;
}

#main_navbar {
  .navbar-nav > li.so_funktioniert > a {
    /*
      padding-top: 5px;
      padding-bottom: 0;
    */
    br {
      display: none;
    }
  }

}

.well {
  > h1, > h2, > h3 {
    margin-top: 0;
  }
  > .breadcrumb:first-child {
    margin-bottom: 5px;
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -18px;
  }
  > .alert {
    max-width: 600px;
    margin: 30px auto;
    .fontello-ok {
      float: left;
      font-size: 200%;
      margin-right: 10px;
    }
  }
}


.hyphenate {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}


.list-group.two_cols {
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;

  .list-group-item {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    -webkit-break-inside: avoid;
    -moz-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
  }
}