$icon-font-path: "bootstrap-sass-3.3.2/assets/fonts/bootstrap/" !default;
$roboto-font-path: "../fonts/";
$pics-path: "/images/";


@import "bootstrap-sass-3.3.2/assets/stylesheets/bootstrap";

// From less/_variables.less
$darkbg-text: rgba(255,255,255,0.84);
$lightbg-text: rgba(0,0,0,0.84);
$navbar-color: $darkbg-text;

@import "ripples";
@import "material";

@import "fontello";
@import "roboto-font";

@import "default_styles";
@import "antragsliste";
@import "styles";

@import "../other/shariff/shariff.min";
