$icon-font-path: "https://www.muenchen-transparent.de/css/bootstrap-sass-3.3.5/assets/fonts/bootstrap/";
$roboto-font-path: "https://www.muenchen-transparent.de/fonts/";
$pics-path: "https://www.muenchen-transparent.de/images/";


@import "bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/list-group";
@import "bootstrap-sass-3.3.5/assets/stylesheets/bootstrap/wells";


@import "material/_variables";
@import "material/_mixins";
@import "material/_shadows";
@import "material/_lists";
@import "material/_welljumbo";


// The SASS-Version of Material seems to be broken (Variants of Checkboxes are not included, for example, therfore we include the compiled LESS-Version instead)
@import "material/variables";
@import "roboto-font";
@import "default_styles";
@import "antragsliste";

.fontello-download {
  color: transparent;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(#{$pics-path}mail-download.png);
}

.list-group .list-group-item .row-picture i.glyphicon-file, .list-group .list-group-item .row-action-primary i.glyphicon-file {
  color: transparent;
  display: inline-block;
  width: 58px;
  height: 58px;
  background-image: url(#{$pics-path}mail-file.png);
}
