// Used in css for url(...) loading
$icon-font-path: "/bower/bootstrap-sass/assets/fonts/bootstrap/" !default;
$font-path: "/fonts/";
$pics-path: "/images/";

$darkbg-text: rgba(0,0,255,0.84);
$lightbg-text: rgba(0,0,0,0.84);
$navbar-color: $darkbg-text;

@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap/variables";