@font-face {
	font-family: 'fontello';
	src: url('../font/fontello.eot?89489601');
	src: url('../font/fontello.eot?89489601#iefix') format('embedded-opentype'),
	url('../font/fontello.woff?89489601') format('woff'),
	url('../font/fontello.ttf?89489601') format('truetype'),
	url('../font/fontello.svg?89489601#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?89489601#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - magrins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-rss:before { content: '\52'; } /* 'R' */
.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-spin4:before { content: '\e834'; } /* '' */


/*
   Animation example, for spinners
*/
.animate-spin {
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
	display: inline-block;
}
@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-webkit-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-o-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@-ms-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}





#ba_nav_list { min-width: 270px; }

body {
	padding-top: 60px;
	padding-bottom: 20px;
	background-image: url(/images/imgnoise.png);
}



/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
	width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

.leaflet-popup-content-wrapper { border-radius: 10px; }
.leaflet-popup .ort { float: right; }
.leaflet-popup .ort_dokument {
	border-top: solid 1px #999;
	margin-top: 6px;
	padding-top: 6px;
}

#mapholder {
	margin: 30px 0;
	border-radius: 10px;
	overflow: hidden;
	padding: 6px;
}
#map {
	height: 400px;
}
#benachrichtigung_hinweis {
	border: solid 1px #ccc;
	background-color: #eee;
	font-size: 0.9em;
	border-radius: 5px;
	padding: 0.5em;
	margin: 0.4em;
	margin-top: -2em;
	text-align: center;
	opacity: 0;
	height: 0;
	-webkit-transition: height 0.15s ease;
	-moz-transition: height 0.15s ease;
	-ms-transition: height 0.15s ease;
	-o-transition: height 0.15s ease;
	transition: height 0.15s ease;
}
#benachrichtigung_hinweis.half_visible {
	height: 6em;
	-webkit-transition: height 0.15s ease;
	-moz-transition: height 0.15s ease;
	-ms-transition: height 0.15s ease;
	-o-transition: height 0.15s ease;
	transition: height 0.15s ease;
}
#benachrichtigung_hinweis.half_visible_tmp1 {
	height: auto;
	min-height: 6em;
}
#benachrichtigung_hinweis.half_visible_tmp2 {
	height: 6em;
	-webkit-transition: opacity 0.35s ease;
	-moz-transition: opacity 0.35s ease;
	-ms-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
}
#benachrichtigung_hinweis.visible {
	height: auto;
	min-height: 6em;
	opacity: 1;
	-webkit-transition: opacity 0.35s ease;
	-moz-transition: opacity 0.35s ease;
	-ms-transition: opacity 0.35s ease;
	-o-transition: opacity 0.35s ease;
	transition: opacity 0.35s ease;
}

.leaflet-control-zoom-fullscreen {
	background-image: url(/js/leaflet.fullscreen/icon-fullscreen.png);
}

.leaflet-container:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
}

.map-overlay-info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.map-overlay-info h4 {
	margin: 0 0 5px;
	color: #777;
}

#stadtratsdokumente_holder {
	position: relative;
	min-height: 400px;
}
#stadtratsdokumente_holder .loading_indicator {
	text-align: center;
	font-size: 10em;
	opacity: 0.3;
	position: absolute;
	width: 100%;
	top: 80px;
	left: 0;
	z-index: 100;
}

#stadtratsdokumente_holder.fullsize {
	width: 100%;
	/*
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	-ms-transition: width 0.5s ease;
	-o-transition: width 0.5s ease;
	transition: width 0.5s ease;
	*/
}

#stadtratsdokumente_holder.loading ul.antragsliste {
	opacity: 0.5;
}
#stadtratsdokumente_holder.fullsize ul.antragsliste {
	-moz-column-count: 2;
	-moz-column-gap: 40px;
	-webkit-column-count: 2;
	-webkit-column-gap: 40px;
	column-count: 2;
	column-gap: 40px;
}
#stadtratsdokumente_holder .aeltere_caller {
	font-size: 1.5em;
	margin-top: 1.5em;
}

ul.antragsliste {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.antragsliste > li {
	margin: 0;
	margin-top: 6px;
	border: solid 1px #ccc;
	border-radius: 5px;
	background-color: #eee;
	padding: 1px;
	break-inside: avoid-column;
	display: inline-block;
	width: 100%;
}
html.no-csscolumns #stadtratsdokumente_holder.fullsize ul.antragsliste > li {
	width: 49%;
	display: inline-block;
}


ul.antragsliste > li > .add_meta {
	float: right;
	font-size: 11px;
	color: gray;
	margin-top: 3px;
}
ul.antragsliste > li > .add_meta .partei {
	border-bottom: dotted 1px gray;
}
ul.antragsliste > li > .antraglink {
	padding: 1px;
	font-weight: bold;
}
ul.antragsliste > li > ul.dokumente {
	list-style-type: none;
	margin: 0;
	padding: 3px;
	background-color: #fff;
}
ul.antragsliste > li > ul.dokumente > li {
	display: inline;
	margin: 1px;
	padding: 1px;
}
ul.antragsliste > li > ul.dokumente > li:before {
	content: ', '
}
ul.antragsliste > li > ul.dokumente > li:first-child:before {
	content: ''
}


.startseite_benachrichtigung_link {
	display: inline-block;
	width: 40px;
	height: 40px;
	font-family: fontello;
	font-size: 30px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	border: solid 1px #5858ff;
	border-radius: 5px;
	color: #5858ff;
	background-color: #eef;
}
.startseite_benachrichtigung_link:hover, .startseite_benachrichtigung_link:active {
	text-decoration: none;
}
.startseite_benachrichtigung_link:hover {
	background-color: #5858ff;
	color: white;
}


.button_hover_change button { width: 100%; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; }
.button_hover_change .btn-hover { display: none; }
.button_hover_change:hover .btn-hover { display: inherit; }
.button_hover_change:hover .btn-nohover { display: none; }





.benachrichtigungsliste {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: table;
}

.benachrichtigungsliste > li {
	margin: 0;
	padding: 0;
	overflow: auto;
	display: table-row;
}

.benachrichtigungsliste > li > div {
	border-top: solid 1px gray;
	display: table-cell;
	padding: 5px;
	vertical-align: middle;
}

.benachrichtigungsliste > li.header > div {
	font-weight: bold;
	border-top: none;
}

.benachrichtigungsliste button.del {
	border: none;
	border-radius: 4px;
	background-color: transparent ;
	padding : 0.5em;
	font-size: 1.3em;
	width: 2em;
	height: 2em;
	line-height: 2.2em;
	vertical-align: middle;
	text-align: center;
}

.benachrichtigungsliste button.del:hover {
	color: red;
}

.benachrichtigungsliste > li > .such_holder, .benachrichtigungsliste > li > .del_holder {
	text-align: center;;
}

.benachrichtigungsliste > li > .krit_holder {
	padding-left: 3em;
	padding-right: 4em;
}

.benachrichtigung_add {
	margin-top: 2em;
}

.benachrichtigung_add label {
	font-size: 1.3em;
	vertical-align: middle;
	line-height: 1.3em;
	margin-bottom: 0.5em;
}

.benachrichtigung_add label .name {
	font-size: 0.8em;
}

.benachrichtigung_add label > span {
	vertical-align: middle;
}

.benachrichtigung_keine {
	text-align: center;
	font-style: italic;
	font-size: 1.2em;
}

.ben_alle_holder {
	margin-top: 1em;
	overflow: auto;
}
.ben_alle_holder > a {
	display: block;
	float: left;
	padding: 0.3em 0.8em;
	margin: 0.5em;
	border: dotted 1px gray;
	border-radius: 3px;
	background-color: #eee;

}

#ben_map {
	height: 300px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove padding from wrapping element since we kick in the grid classes here */
	.body-content {
		padding: 0;
	}
}